/* #region common */

:root {
    --discord-primary: rgba(48, 97, 225, 1);
    --discord-dark: rgba(34, 39, 43, 1);
    --discord-light: rgba(246, 246, 246, 1);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}




.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* #endregion common */

/* #region site header */
#site_header {
    background-color: var(--discord-primary);
    color: white;
    padding: 3px 0px 3px;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.logo {
    justify-self: start;

}

.menu {
    list-style: none;
    display: flex;
    gap: 15px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}



.action {
    flex-grow: auto;
    text-align: center;
    justify-self: end;
    background-color: white;
    color: rgb(35, 39, 42);

}



/* #endregion site header */


 /* #region site_main */

#site_main {
    display: flex;
    flex-direction: column;
    margin: 0;
}


.banner {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    width: auto;
    color: white;
    text-align: center;
    padding: 2% 25%;
    align-items: center;

}

.where {
    padding: 0 50px 40px 50px;
    font-size: 25px;
    
}

h1 {
    font-size: 70px;
    font-weight: bolder;
    padding-bottom: 5%;
}

button {
    margin: 25px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
    background-color: white;
    font-weight: bolder;

}


#open_discord {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
    background-color: rgb(44, 44, 44);
    font-weight: bolder;
    color: white;
}

.study {
    gap: 10px;
    padding-bottom: 120px;
    padding-top: 120px;

}

.big {
    flex-grow: 4;
}

.small {
    padding: 0px 25px 20px 20px;
    flex-grow: auto;
    width: 30%;
    text-align: left;
}

h2 {
    padding-top: 20%;
    font-size: 40px;
    font-weight: bolder;
    
}

.create {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    
}


.found {
    gap: 10px;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f6f6f6;
    flex-direction: row-reverse;
    justify-items: center;
    align-items: center;
    text-align: center;
}


.fandom {
    gap: 10px;
    padding-top: 120px;
    padding-bottom: 120px;
}



.section {
    padding: 2em 0;
}


.tecnology {
    padding: 120px 120px;
    background-color: #f6f6f6;
    align-self: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

.hello {
    font-size: 20px;
    font-weight: 300px;
}

.just {
    align-self: center;
}

.star {
    background-image: url(./img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3%;
    margin: 5%;
}

h3 {
    font-size: 40px;
    text-align: center;
}

.download {
    margin: 0px;
    padding: 16px 32px;
    border-radius: 28px;
    border: 0;
    background-color: var(--discord-primary);
    font-weight: bolder;
    font-size: 20px;
    color: white;
}

/* #endregion site_main */


/* #region site footer */

#site_footer {
    background-color: var(--discord-dark);
    width: ;
    padding: 1%;
    flex-direction: row;
    
}

.languace {
    background-size: contain;
    height: 16px;
    width: 24px;
    margin-right: 8px;
}

.foot {
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;

}

ul {
    list-style: none;
    text-align: left;
}

li {
    margin-bottom: 6%;
}

.color {
    color: var(--discord-primary);
    margin-bottom: 30%;

}

.distance {
    width: 40px;
    
}


.separate {
    background-color: var(--discord-primary);
    height: 1px;
    width: 100%;
    margin-bottom: 3%;

}

.open_discord {
    text-align: center;
    background-color: var(--discord-primary);
    color: white;
    
    
}

.logo_final{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

/* #endregion site footer */