:root {
    --discord-primary:#2A5EE8;
    --discord-dark: rgba(34, 39, 43, 1);
    --discord-light: rgba(246, 246, 246, 1);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* UTILITIES */

/* #region utilities */
.d-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.reverse{
    flex-direction: row-reverse;
}

.text{
    color: white;
}

.between{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}

.text-center{
    text-align: center;
}

.j-center{
    justify-content: center;
}

.gap{
    gap: 5%;
}

.list{
    list-style: none;
}

.container{
    width: 95%;
    max-width: 1200px;
    margin: auto;
}

.container-2{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    height: auto;
    padding: 100px 0;
}

.space{
    padding: 20px 0;
}

.col-2{
    width: calc((100% / 12)*2);
    margin-right: 20px;
}

.col-4{
    width: calc((100% / 12)*4);
}
/* #endregion utilities */

body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/* site header */

 #site-header{
    background-color: var(--discord-primary);
    height: auto;
    width: 100%;
    padding: 20px 0;
 }

 .menu a{
     color: white;
     text-decoration: none;
     padding: 0 10px;
     font-weight: bold;
 }

 .login a{
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold
 }

 /* jumbotron */

 .jumbotron{
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
 }

 .banner{
    width: 55%;
    margin: auto;
    padding-top: 150px;
    gap: 40px;

    >h1{
        font-size: 50px;
        font-weight: 1000;
    }
 }

 .btn-open-down{
    gap: 10px;

    >a{
        text-decoration: none;
        width:260px;
        padding: 15px 0px;
        font-weight: bold;
    }
 }

.open{
    background-color:var(--discord-dark);
    color: white;
    border-radius: 30px;
}

.down{
    background-color: white;
    color: var(--discord-dark);
    border-radius: 30px;
}

/* main */

.contanitor-create{
    width: 100%;
    height: 600px;
}

.contanitor-where{
    background-color: rgb(250, 250, 250);
}


.big{
    width: 60%;
}

.small{
    width: 35%;
    gap: 20px;
    padding: 45px 0; 

    > h2{
        font-weight: bold;
        font-size: 42px;
    }

    > p{
        font-size: 20px;
    }
}

.contanitor-just{
    background-color: rgb(250, 250, 250);
    padding: 100px 0;
}

.chillin{
    >h2{
        font-weight: 1000;
        font-size: 50px;
    }

    >p{
        font-size: 19px;
        font-weight:lighter ;
    }

    >h4{
       font-size: 30px;
       font-weight: 1000;
    }

    >a{
        width: 280px;
        padding:15px;
        border-radius: 30px;
        margin: 0 auto;
        text-decoration: none;
        color: white;
        background-color: var(--discord-primary);
        font-weight: bold;
        font-size: 18px;
    }
}

a i{
    padding-right: 7px;
}

.bg-star{
    background-image: url(./img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3% 10%;
    margin: 5%;
}

/* site footer */

.site-footer{
    background-color: var(--discord-dark);
    padding: 100px 0
}

.language{
    margin-right: 80px;
}

.color{
    color: var(--discord-primary);
    padding-bottom: 15px;
}

ul li{
    padding-bottom: 10px;
    font-weight: lighter;
}

hr{
    border: solid 1px var(--discord-primary);
    margin: 30px 0;
}

.btn-disc{
    >a{
        background-color:var(--discord-primary);
        border-radius: 30px;
        width: 150px;
        padding: 10px 13px;
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
}